LoginUI/Connected Services/GameService/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GameService/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService.Contract" />
  <xs:import schemaLocation="http://localhost/GameService/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameService" />
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameService.Contract" minOccurs="0" name="request" nillable="true" type="q1:CreateGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameService.Contract" minOccurs="0" name="CreateGameResult" nillable="true" type="q2:CreateGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameService.Contract" minOccurs="0" name="request" nillable="true" type="q3:JoinGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameService.Contract" minOccurs="0" name="request" nillable="true" type="q4:RemoveFromGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameService" minOccurs="0" name="request" nillable="true" type="q5:StartGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameService" minOccurs="0" name="StartGameResult" nillable="true" type="q6:StartGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushGameCreationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameService.Contract" minOccurs="0" name="gameCreationState" nillable="true" type="q7:GameCreationState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRemovedFromGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>