LoginUI/Connected Services/GameService/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KickFromGameRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="KickFromGameRequest" nillable="true" type="tns:KickFromGameRequest" />
  <xs:complexType name="KickFromGameResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="KickFromGameResponse" nillable="true" type="tns:KickFromGameResponse" />
  <xs:complexType name="StartGameRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StartGameRequest" nillable="true" type="tns:StartGameRequest" />
  <xs:complexType name="StartGameResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StartGameResponse" nillable="true" type="tns:StartGameResponse" />
</xs:schema>