LoginUI/Connected Services/LoginService/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GameService/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureReason" type="tns:FailureReason" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:simpleType name="FailureReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="InvalidCredentials" />
      <xs:enumeration value="AlreadyLoggedIn" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FailureReason" nillable="true" type="tns:FailureReason" />
</xs:schema>