ClientTest/Connected Services/GameServer/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TurnbasedGameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TurnbasedGameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55747/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RegisterPlayerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerNickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPlayerRequest" nillable="true" type="tns:RegisterPlayerRequest" />
  <xs:complexType name="RegisterPlayerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPlayerResponse" nillable="true" type="tns:RegisterPlayerResponse" />
</xs:schema>