ClientTest/Connected Services/GameServer/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55747/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TurnbasedGameService" />
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TurnbasedGameService" minOccurs="0" name="request" nillable="true" type="q1:RegisterPlayerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TurnbasedGameService" minOccurs="0" name="RegisterPlayerResult" nillable="true" type="q2:RegisterPlayerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>